@model WebLibrary.Model.LivroClienteEmprestimo

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivro)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Emprestimo">Voltar para a lista</a>
</div>
